:root{
    --boxShadow-ligth: 0 0 5px #282828;
    --boxSadow: -4px 6px 20px 5px rgb(14, 13, 13);
    --boxShadow-inset: inset -4px 6px 20px 5px rgb(14, 13, 13);
    --boxSadow2: -4px 6px 20px 5px rgb(14, 13, 13), inset -4px 6px 20px 5px rgb(14, 13, 13);
    --black: #282828;
    --dark-white: #e4e4e4;
    --white: #f0f0f0;
    --white-plus: #f9fbfd;
    --orange:#F7931A;
    --green: #036103;
    --red: #b80125;
    --blue:#2516af;
    --gradient-black-to-orange: linear-gradient(140deg,#201E1C 10%, #F7931A 100%);
    --border-to-text: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    --animationTime: 0.4s ; 
    
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* color: var(--white); */
}

a{
    text-decoration: none;
}

li{
    list-style: none;    
    width: 100%;
}

html{
    font-size: 62.5%;
}



.close-button{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    background-color: var(--white-plus);
    /* border: 1px solid rgb(29, 27, 27); */
    box-shadow: var(--boxShadow-ligth);
    border-radius: 50%;
    color: rgb(122, 120, 120);
    font-size: 2.2rem;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    
}

.primary-button{
    background: var(--gradient-black-to-orange);
    border: 2px solid var(--white);  
    color: var(--white);  
    text-align: center;
    width: 150px;
    min-height: 50px;
    border-radius: 40px;   
    font-size: 1.6rem;
    font-weight: 700;
    padding: 5px;
    box-shadow: var(--boxSadow);
    cursor: pointer;  
    width: 90%;
    height: 70%;  
    margin: 4px auto;
    
}


.primary-button--cart-submit-order{
    grid-area: 5 / 2/ 6 / 3;   
    place-self: end center; 

}

.primary-button--product-options,
.primary-button--product-detail{
    grid-area: 4 / 2/ 5 / 3;   
    place-self: end center; 
}

.primary-button--cart-delivery{
    grid-area: 5 / 1 / 6 / 2;
    place-self: end center;
}

.primary-button--red-gradient{
    background: linear-gradient(140deg,#201E1C 10%, #d60808 100%);
}

.primary-button--green-gradient{
    background: linear-gradient(140deg,#201E1C 10%, #1af76f 100%);

}


.secondary-button{
    background: var(--white);
    color: var(--orange);
    border: 2px solid var(--orange);    
    text-align: center;
    width: 150px;
    height: max-content;
    border-radius: 40px;   
    font-size: 1.6rem;
    font-weight: 700;
    padding: 5px;
    box-shadow: var(--boxSadow);
    cursor: pointer;
    margin: 4px auto;
}

.secondary-button--center{
    place-self: center;
}

body{
    display: grid;
    grid-template-rows: 90px 85vh;
    background-color: var(--black);
    overscroll-behavior-y: contain;

}

header{
    display: grid;
    width: 100%;    
    place-items: center;
    background: linear-gradient(140deg,#201E1C 10%, #F7931A 100%);
    border-radius: 0 0 15px 15px;
    box-shadow: var(--boxSadow2);
    
}
.menu-user-button{
    position: fixed;
    left: 5px;
    z-index: 1;
    background-color: var(--white);
    color: var(--black);
    width: 50px;
    height: 50px;
    border-radius: 15px;
    font-size: 4rem;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: var(--animationTime) opacity, var(--animationTime) visibility; 
}

.header-logo-a{
    height: 100px;
}

header img {
    width: 100%;
    max-width: 320px;
    height: 70%;
}

.aside-user-menu{
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1001;
    width: 300px;
    min-height: 400px;
    padding: 0 15px;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: column;  
    row-gap: 15px; 
    align-items: center;   
    justify-content: space-between; 
    overflow: hidden;    
    box-shadow: 0 0 15px 2px var(--black);
    background-color: var(--white);
    opacity: 1;
    visibility: visible;
    transition: var(--animationTime) opacity, var(--animationTime) visibility; 
    
}

.aside-user-menu__user-section{
    width: 100%;
    padding-block-start: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: var(--animationTime) opacity, var(--animationTime) visibility; 
}
.aside-user-menu__user-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25D366;
}

.aside-user-menu__user-name{
    color: var(--black);
    font-size: 3rem;
}


.aside-user-menu__buttons-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigator-button{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid var(--white);    
    padding: 5px;
    color: var(--white);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    box-shadow: var(--boxSadow);
    cursor: pointer;
}

.navigator-button--small{
    max-height: 100px;
    font-size: 2rem;
}



.navigator-button--red{
    background: linear-gradient(140deg,#201E1C 10%, #d60808 100%);

}
.navigator-button--yellow{
    background: linear-gradient(140deg,#201E1C 10%, #ffd23c 100%);
    
}
.navigator-button--blue{
    background: linear-gradient(140deg,#201E1C 10%, #3c3fff 100%);
    
}
.navigator-button--green{
    background: linear-gradient(140deg,#201E1C 10%, #1af76f 100%);

}




.WhatsApp-button{
    background: linear-gradient(70deg,#201E1C 10%, #25D366 100%);
    border: 2px solid var(--white);    
    text-align: center;
    color: var(--white);
    width: 150px;
    height: max-content;
    border-radius: 40px;
    margin-block-end: 20px;
    font-size: 2rem;
    font-weight: 700;
    padding: 5px;
    box-shadow: var(--boxSadow);
      
}

.main-inicio{
    width: 100%;
    height: 100%;
   
}

.inicio-button-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    gap: 10px;
    padding: 10px 10px 40px 10px;
    opacity: 1;
    visibility: visible;
    transition: var(--animationTime) opacity, var(--animationTime) visibility; 
}




.section-pending-orders{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    opacity: 1;
    visibility: visible;
    transition: var(--animationTime) opacity, var(--animationTime) visibility; 
}

.section-pending-orders button{
    height: max-content;  
    width: 40%;
    margin-inline-end: 55%;
    
  
}


.section-pending-orders__orders-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px 60px 15px;
    gap: 15px;
    opacity: 1;
    visibility: visible;
    transition: var(--animationTime) opacity, var(--animationTime) visibility; 

}

.upper-title-cards-cardXs{
    color: var(--white);
}



.info-card{
    width: 100%;
    height: auto;
    min-height: 50px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    border-radius: 2px;
    box-shadow: 0 0 5px var(--black);
    font-size: 1.8rem;
}
.info-card__data-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.info-card__client-name{
    width: 50%;
    height: 20px;
    overflow: hidden;
    background-color: #dddddd;
}

.info-card__client-cel{
    width: 50%;
    height: 20px;
    background-color: #dddddd;
    
    
}

.info-card__list-container{
    width: 80%;

}

.info-card__time-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.info-card__delayed-time{
    font-size: 4rem;
    font-weight: 700;
    line-height: 3rem;
    
}

.info-card__delayed-time ~ span{
    line-height: 1.5rem;
    
}


.cart-card{    
    background: var(--white);
    display: grid;
    grid-template-rows: 70px auto 50px 6fr 70px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-items: center;
    opacity: 1;
    visibility: visible;
    transition: var(--animationTime) opacity, var(--animationTime) visibility; 
    
}


.cart-card__info-container{
    grid-area: 2 / 1 / 3 / 3;
    width: 100%;
}

.cart-card__title{
    grid-area: 3 / 1 / 4/ 3;
    margin-block: 15px;
    text-align: center;
    font-size: 2rem;
    color: var(--black);
}


.cart-card__scroll-container{
    
    width: 100%;
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    

}

.cart-card__items-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 5px;
    background-color: var(--white);

}

.card-small{
    width: 95%;
    height: 50px;  
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-shadow: 0 0 5px var(--black);
    padding: 5px;
    background-color: var(--white);

}

.card-small-internalContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.card-small-title{
    font-size: 1.5rem;
    color: var(--black);
}

.card-small-precio{
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
}


.section-options{
    background: var(--white);
    display: grid;
    grid-template-rows: 70px auto 6fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-items: center;
    opacity: 1;
    visibility: visible;
    transition: var(--animationTime) opacity, var(--animationTime) visibility; 
}

.section-options__info-container{
    grid-area: 2 / 1 / 3 / 4;
    width: 100%;
}


.section-options__scoll-container{
    grid-area: 3 / 1 / 4 / 4;
    width: 100vw;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    background-color: #201E1C;
  
}

.section-options__cards-container{
    display: grid;
    grid-auto-flow: column;    
    gap: 1vw;    
    padding: 5vw;
    margin: 0 auto;  
    
}

.section-items-options-card{
    box-shadow: 0 0 0 1px var(--white);
    /* border: 1px solid var(--white); */
    background-color: var(--white);
    border-radius: 15px;
    scroll-snap-align: center;
    width: 90vw;
    max-width: 450px;   
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}



.section-items-options-container{
    
    /* border: 1px solid var(--white); */
    background-color: var(--white);
    border-radius: 15px;
    scroll-snap-align: center;
    width: 90vw;
    max-width: 450px;   
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;

}

.options-item-name{
    text-align: center;
    font-size: 1.5rem;
}

.cart-items-options-container-cards{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 5px;
    background-color: var(--white);

}

.cart-items-options-container-cards li {
    display: flex;
    justify-content: center;
}


.section-delivery{
    background: var(--white);
    display: grid;
    grid-template-rows: auto 6fr 90px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: var(--animationTime) opacity, var(--animationTime) visibility; 
}


.section-delivery__info-container{
    grid-area: 1 / 1 / 2 / 4;
    box-shadow: 0 0 0 1px var(--white);
    width: 100vw;       
    display: flex;
    flex-direction: column;

  

}

.section-delivery__delivery-info{
    grid-area: 2 / 1 / 3 / 4;
    
}
.section-delivery__all-orders-map{
    grid-area: 2 / 1 / 4 / 4;
    
}

.section-delivery__map-container{    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 5px;
    


}



.map{
    width: 100%;
    height: 100%;
    
}
.section-delivery__text-container{
    font-size: 2rem;

}


.delivery-price-container{
    display: grid;
    place-items: center;
}

.delivery-price{
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}

.section-popUp{
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    place-content: center;
    background-color: rgba(255, 255, 255, 0.842);
    opacity: 1;
    visibility: visible;
    transition: var(--animationTime) opacity, var(--animationTime) visibility; 
}

.popUp-text{
    display: inline-block;
    font-size: 4rem;
    text-align:center;
    margin-block-end: 40px;
}

.popUp-buttons-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;  

}

.popUp-buttons-container button{
    width: 40%;
    height: 70px;
}





.card-prueba{
    scroll-snap-align: center;
    color: white;
    font-size: 4rem;

    width: 100%;
    height: 100px;
    background: linear-gradient(140deg,#201E1C 10%, #f71a9b 100%);
}

.background-white{
    background-color: var(--white);
}

.background-green{
    background-color: #47992e;
}
.background-orange{
    background-color: #F7931A;
}
.background-red{
    background-color: rgb(223, 20, 20);
    /*background-color: #1e1af7;*/
}




.ingrediente-checker-container{
    display: grid;
    grid-template-rows: 20px 20px;
    grid-template-columns: 4fr 20px 20px;
    gap: 1px;
    align-items: center;    
    width: 90%;
    height: max-content;
    padding: 5px;
    box-shadow: 0 0 5px var(--black);


   
 


}

.ingrediente-checker-container span{
    grid-area: 1 / 1 / 3 / 2;
    font-size: 2rem;
    font-weight: 500;
    color: var(--black);
}



.porcion-All{
    grid-area: 1 / 2 / 3 / 4;
    width: 30px;
    height: 30px;
    overflow: hidden; 
    border-radius: 50%;
    border: 2px solid var(--black);
    
    
    
}


.porcion-A{
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 100% 2px 2px 2px;
    border: 2px solid var(--black);
    
}
.porcion-B{
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 2px 100% 2px 2px;
    border: 2px solid var(--black);
    
    
}
.porcion-C{    
    width: 20px;
    height: 20px;
    overflow: hidden;   
    border-radius: 2px 2px 2px 100%;
    border: 2px solid var(--black);
    
    
}
.porcion-D{    
    width: 20px;
    height: 20px;
    overflow: hidden;    
    border-radius: 2px 2px 100% 2px;
    border: 2px solid var(--black);
    
    ;
  
}

.background-prueba{
    background-color: #d39625;
}

.inactive{
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    position: fixed;      
    transition: 0.5s opacity, 0.5s visibility,0.5s transform, 0.5s position;    
    
}



.markerPopUp{    
   
    height: max-content;
    
}


.markerPopUp *{ 
    width: 100%;   
    height: max-content;
    font-size: 2rem;
    text-align: center;
} 

.markerPopUp span{
    font-weight: 700;
}

.markerPopUp button{
    min-height: 40px;
    width: 200px;
}

.leaflet-popup-content{
    margin: 5px 0 !important;   
}



